{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}STEGO{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <div class="your-container-class">
                <a href="{% url 'Home' %}" class="your-link-class">
                    <img src="{% static 'images/stego_logo.PNG' %}" alt="Logo" class="your-logo-class">
                </a>
                <a href="{% url 'Home' %}" class="your-link-class">Home</a>
                <a href="{% url 'About' %}" class="your-link-class">About</a>
                <a href="{% url 'Contact' %}" class="your-link-class">Contact</a>
                <a href="{% url 'Login' %}" class="your-link-class">Login</a>
                <a href="{% url 'register' %}" class="your-link-class">signup</a>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
